<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-info" style="width:200px;">
        <img src="https://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width:100%">
        <div class="panel-body">
            <h4>{{userself.name}}</h4>
            <address>{{userself.department}}</address>
            <p class="text-info">
                <span class="glyphicon glyphicon-phone"></span> 电话：{{userself.mobile_phone}}</p>
            <p class="text-info">
                <span class="glyphicon glyphicon-phone-alt"></span> 座机：{{userself.office_phone}}</p>
        </div>
    </div>
</div>